<ion-header>
    <ion-navbar>
        <ion-title>Add new item</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>

        <ion-item>
            <ion-label>Distance</ion-label>
            <ion-input type="number" [(ngModel)]="item.distance"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="item.date" ></ion-datetime>
        </ion-item>

    </ion-list>
    <div padding>
        <button ion-button full (click)="submit()">Submit</button>
        <button ion-button full color="danger" (click)="close()">Close</button>
    </div>
</ion-content>